app.zip
db.sqlite3-shm
screenshots/
screenshots.zip
test_templates/
db.sqlite3-wal
django_notes.txt
.vscode/
.idea/

!attendance/** 
!attendance_system/** 
!static/** 
!templates/** 
!.gitignore
!db.sqlite3
!manage.py
!README.md